// [$reser]
// --------------
* {
  padding: 0;
  margin: 0;
}

// --------------
// [$fonts]
// --------------

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;700&display=swap");

body {
  font: 1em $body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
  color: $heading-colour;
}

a {
  color: $link-colour;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}
// --------------
// [$site-logo]
// --------------

.site-logo {
  text-align: center;
  margin-bottom: 30px;
}

// --------------
// [$site-header]
// --------------

.site-header {
  padding: 70px 0;
}

// --------------
// [$site-nav]
// --------------

.site-nav {
  @include uppercase();
  font-size: 0.7em;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 20px;
  }

  a {
    display: block;
  }
}

// --------------
// [$info-block]
// --------------

// .info-block {
// }

.info-block__title {
  margin-bottom: 20px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.4rem;
  }
}

.info-block__title--fancy {
  &:after {
    content: "";
    display: block;
    width: 23px;
    height: 2px;
    background-color: $brand-color;
    margin-top: 5px;
  }
}

.info-block__body {
  margin-bottom: 20px;
  p {
    color: #616161;
    font-size: 0.9rem;
  }
}

.info-block__subtitle {
  @include uppercase();
  color: $brand-color;
  font-size: 0.7rem;
  font-family: $body;
  display: block;
  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  // }
}

.info-block__cta {
  @include uppercase();
  font-size: 0.7rem;

  a {
    border-bottom: 2px solid $brand-color;
  }
}

// --------------
// [$media query]
// --------------

@media screen and (min-width: 720px) {
  .site-nav,
  .site-logo {
    text-align: left;
  }

  .site-logo {
    margin-bottom: 0;
  }
}
