// [$reser]
// --------------
* {
  padding: 0;
  margin: 0;
}

// --------------
// [$fonts]
// --------------

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;700&display=swap");

body {
  font: 1em $body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
  color: $heading-colour;
}

a {
  color: $link-colour;
  text-decoration: none;

  &:hover {
    color: $brand-color;
  }
}

img {
  max-width: 100%;
  height: auto;
}
// --------------
// [$site-logo]
// --------------

.site-logo {
  text-align: center;
  margin-bottom: 30px;
}

// --------------
// [$site-header]
// --------------

.site-header {
  padding: 70px 0;
}

// --------------
// [$site-nav]
// --------------

.site-nav {
  @include uppercase();
  font-size: 0.7em;
  text-align: center;

  li {
    display: inline-block;
    margin: 0 20px;
  }

  a {
    display: block;
  }
}

// --------------
// [$info-block]
// --------------

.info-block__title {
  margin-bottom: 20px;
  text-align: center;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2.4rem;
  }
}

.info-block__title--fancy {
  &:after {
    content: "";
    display: inline-block;
    width: 23px;
    height: 2px;
    background-color: $brand-color;
    margin-top: 5px;
  }
}

.info-block__title--bigger {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 4rem;
    color: black;
  }
}

.info-block__body {
  margin-bottom: 20px;
  p {
    color: #616161;
    font-size: 0.9rem;
  }
}

.info-block__subtitle {
  @include uppercase();
  color: $brand-color;
  font-size: 0.7rem;
  font-family: $body;
  display: block;
  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  // }
}

.info-block__cta {
  @include uppercase();
  font-size: 0.7rem;

  a {
    border-bottom: 2px solid $brand-color;
  }
}

// --------------
// [$quote]
// --------------

.quote {
  text-align: center;
  margin: 0 auto 30px auto;

  &:after {
    content: "";
    display: block;
    background-color: $brand-color;
    width: 2px;
    height: 100px;
    margin: 30px auto 0 auto;
  }
}

.quote__body {
  font-family: $headings;
  color: $heading-colour;
  font-size: 1.8rem;
  font-weight: 300;
}

.quote__name {
  @include uppercase();
  font-family: normal;
  font-size: 0.7rem;
  color: $heading-colour;
  display: block;
  margin-top: 20px;
}

// --------------
// [$showcase]
// --------------

.showcase {
  width: 50%;
  margin-bottom: 50px;
}

.showcase--bigger {
  width: 70%;
  margin-top: 40px;
  margin-left: -7%;
}

.showcase__body {
  margin-top: 70px;
}

// --------------
// [$hero]
// --------------

.hero {
  margin-bottom: 50px;
}

// --------------
// [$media query]
// --------------

@media (min-width: 500px) {
  .showcase__body {
    width: 70%;
    margin-top: 30px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 720px) {
  .site-nav,
  .site-logo {
    text-align: left;
  }

  .site-logo {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 800px) {
  .hero {
    position: relative;
    margin-bottom: 150px;
  }

  .hero__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
  }

  .hero__img {
    text-align: right;

    img {
      width: 85%;
    }
  }

  .info-block__title {
    text-align: left;
  }

  .quote {
    width: 50%;
  }
}
